/* -------------------------------------------------------------------------- *\
   $VARIABLES
\* -------------------------------------------------------------------------- */


/* COLOURS */

/**
 * Monochrome
 */

@white:      #ffffff;
@white-dark: #eeeeee;
@grey-light: #dddddd;
@grey:       #cccccc;
@grey-dark:  #222222;
@black:      #000000;

/**
 * Backgrounds
 */

@blue:      #1d909d;
@orange:    #f83e00;
